__pycache__
.vscode
*.log
*.idx
*.npy
*.txt
!requirements/**
!docs/*
*.DS_Store
*.out
build
docs/build
dist
logs/*
outputs/*
*.so
.venv
.docs-venv
uv.lock
rlinf/envs/maniskill/assets
PKG-INFO
*.egg-info/
.claude/settings.json
Openvla-oft-SFT-libero-spatial-traj1/
RLinf-OpenVLAOFT-LIBERO-90-Base-Lora/
RLinf-Pi0-RoboCasa/
